.btn-red {
	background-color: rgba(34, 49, 63, 1);
	color:rgba(228, 241, 254, 1);
	padding: 20px 25px;
	position: relative;
    display: inline-block;
    overflow: hidden;
    z-index: 1;
    transition: .2s linear;
    color: white;
    border: 2px solid white;
    letter-spacing: 1.2px;
    transition: .15s;
    -webkit-appearance: none;
    font-size: 20px;
}

.btn-red:hover {
	background-color: rgba(228, 241, 254, 1);
	color:rgba(34, 49, 63, 1);
	animation: slide-in-left 0.75s .5s cubic-bezier(0.46, 0.03, 0.52, 0.96) both;
    align-self: flex-start;
    border-color: var(--color-tertiary);
}

.btn-round:hover {
	background-color: rgba(228, 241, 254, 1);
	color:rgba(34, 49, 63, 1);
	animation: slide-in-left 0.75s .5s cubic-bezier(0.46, 0.03, 0.52, 0.96) both;
    align-self: center;
    border-color: var(--color-tertiary);

}
 