.container {
	width: 700px;
	margin-top: 40px auto;
}

@media (max-width: 950px) {
	.container {
		width: 700px;
	}

}
@media (max-width: 750px) {
	.container {
		width: 600px;
	}

}

@media (max-width: 650px) {
	.container {
		width: 500px;
	}
}

@media (max-width: 550px) {
	.container {
		width: 400px;
	}
}

@media (max-width: 450px) {
	.container {
		width: 300px;
	}
}

@media (max-width: 350px) {
	.container {
		width: 200px;
	}